/**************************\
  Basic Modal Styles
\**************************/

.modal label {
  /* font-weight: 600; */
  font-size: 13px;
  color: #8e9297;
  font-weight: 600;
}

.modal input {
  outline: none;
  font-size: 1rem;
  padding: 8px 10px;
  width: 100px;
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
  color: white;
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-sizing: border-box;
}

.modal p {
  user-select: text !important;
  color: white;
  font-size: 1.1rem;
}

.modal input:active,
.modal input:focus {
  border: 1px solid #00b0f4 !important;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #36393f;
  max-width: 300px;
  width: 100%;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 16px 16px 0px;
}

.modal__content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  padding: 0px 16px;
}

.modal__footer {
  padding: 16px;
  background: #2f3136;
  display: flex;
  justify-content: flex-end;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: white;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: "\2715";
  color: rgb(185, 187, 190);
  font-size: 24px;
  cursor: pointer;
}

.modal__btn {
  font-size: 14px;
  padding: 0.75rem 1.5rem;
  margin-left: 0.5rem;
  background-color: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.modal__btn-primary {
  background-color: #7289da;
  color: #fff;
}

.modal__btn-cancel {
  background-color: transparent;
  color: #fff;
}

.modal__btn-cancel:hover {
  text-decoration: underline;
}

/* .button {
      padding: 8px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: none;
      color: white;
      border-radius: 3px;
      cursor: pointer;
      font-size: 1.3rem;
    }

    .green-button {
      background-color: #3ba55c;
    }

    .green-button[inactive] {
      background-color: transparent;
      color: #3ba55c;
      border: 1px solid #3ba55c;
    }

    .red-button {
      background-color: #ed4245;
    }

    .red-button[inactive] {
      background-color: transparent;
      color: #ed4245;
      border: 1px solid #ed4245;
    } */

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
