.container-PNkimc{
  top: 10px;
}


.layer-3QrUeG .channels-Ie2l6A{
  width: 35vmin;
}

.hideNshow {
  background: rgba(32,34,37,.05);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hideNshow:hover {
  background: rgba(32,34,37,.05);
}