/* .hide-dis-bar class on body indicates that extension is active */
body.hide-dis-bar .noticeInfo-3_iTE1,
.notice-2FJMB4 {
  z-index: 1000;
}

body.hide-dis-bar .toolbar-1t6TWx {
  padding-right: 100px;
}

body.hide-dis-bar .container-3gCOGc {
  z-index: 0;
}

/* Hide button by default when extension is not active */
#hds-btn {
  display: none;
}

body.hide-dis-bar #hds-btn {
  display: block;
  background: #4f5660;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 10px;
  right: 9px;
  z-index: 100;
  border-radius: 4px;
  width: 90px;
}

body.hide-dis-bar .sidebar-2K8pFh {
  transition: all 0.1s ease 0.1s;
  width: 0;
  padding-left: 3.5vmin;
}
body.hide-dis-bar .sidebar-2K8pFh:hover {
  width: 240px;
  padding-left: 0;
}

body.hide-dis-bar .sidebar-2K8pFh > * {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
  /* display: none; */
}

body.hide-dis-bar .sidebar-2K8pFh:hover > * {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s linear;
  /* display: flex; */
}

#hds-popup {
  display: none;
  justify-content: space-between; /* applies when display: flex */
  align-items: center;
  background: #7289da;

  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 15px;

  color: #fff;
  cursor: pointer;
  z-index: 100;
  border-radius: 8px;
  line-height: 1.15;
}

#hds-popup p {
  margin: 0 !important;
}

#hds-popup svg {
  width: 18px;
  min-width: 18px;
  height: 18px;
  margin-left: 5px;
}
