.titleWrapper-1l0xT9 .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6 {
  padding-right: 50px;
}

.layer-3QrUeG .channels-Ie2l6A {
  width: 40vmin;
  transition: all 0.1s ease 0.1s;
}

#hideNshow {
  background: rgba(32, 34, 37, 0.6);
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  top: 10px;
  right: 9px;
  z-index: 100;
  border-radius: 4px;
  width: 90px;
}
